* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
}
header .navbar {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}
header .navbar .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 80%;
  align-self: center;
}
header .navbar .logo img {
  height: 70%;
}
header .navbar .menu {
  width: 400px;
  height: 20%;
  align-self: center;
}
header .navbar .menu ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
header .navbar .menu ul .home {
  background-color: #B8DAE4;
}
header .navbar .menu ul li {
  padding: 15px;
}
header .navbar .menu ul li a {
  text-decoration: none;
  color: #000;
  padding: 15px;
}
header .navbar .menu ul li a:hover {
  background-color: #B8DAE4;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-size: contain;
}
main .section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("/img/sfondo.jpg");
  width: 100%;
}
main .section h2 {
  width: 100%;
  margin-top: 5px;
  padding: 5px 0px;
  color: #002D73;
  background-color: rgba(255, 255, 255, 0.7);
  height: 50px;
}
main .section .subsec {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  min-height: 600px;
  margin-bottom: 20px;
  width: 90%;
}
main .section .subsec .product-box {
  width: 500px;
  margin: 10px 10px;
}
@media screen and (max-width: 960px) {
  main .section .subsec .product-box {
    width: 300px;
  }
}
main .section .subsec .product-box img {
  width: 100%;
}
main .products-wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  position: relative;
}
main .products-wrapper span {
  position: absolute;
}
main .products-wrapper .titolo-prodotto {
  left: 50%;
  transform: translate(-50%);
  margin-top: 25px;
  font-size: 20px;
  color: #002D73;
  font-weight: bold;
}
@media screen and (max-width: 450px) {
  main .products-wrapper .titolo-prodotto {
    font-size: 15px;
  }
}
main .products-wrapper .arrow-left, main .products-wrapper .arrow-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  height: 80px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 450px) {
  main .products-wrapper .arrow-left, main .products-wrapper .arrow-right {
    width: 20px;
  }
}
main .products-wrapper .arrow-left a, main .products-wrapper .arrow-right a {
  font-size: 35px;
  color: #fff;
}
main .products-wrapper .arrow-right {
  right: 0px;
}
main .products-wrapper .arrow-rleftight {
  left: 0px;
}
main .products-wrapper .descrizione {
  line-height: 30px;
  min-height: 150px;
  padding: 40px 100px;
  width: 100%;
  font-size: 20px;
  background-color: #B8DAE4;
  color: #002D73;
}
@media screen and (max-width: 450px) {
  main .products-wrapper .descrizione {
    padding: 10px 20px;
    font-size: 15px;
  }
}
main .products-wrapper img {
  width: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 800px;
  width: 100%;
  color: #848D9B;
  background-image: url("https://www.lamolisana.it/wp-content/uploads/2020/06/footer-montagne-bottom.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
}
@media screen and (max-width: 960px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 450px) {
  footer {
    justify-content: center;
    align-items: center;
  }
}
footer .column {
  width: 33%;
  height: 100%;
}
@media screen and (max-width: 960px) {
  footer .column {
    margin: 40px 25px;
  }
}
footer .logo-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .logo-col img {
  width: 70%;
  margin-bottom: 40px;
}
footer .logo-col div {
  display: flex;
  flex-direction: column;
}
footer .pastificio-col, footer .collezione-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .pastificio-col ul, footer .collezione-col ul {
  margin: 20px 50px;
}
@media screen and (max-width: 960px) {
  footer .pastificio-col ul, footer .collezione-col ul {
    margin: 10px 0px;
  }
}
footer .pastificio-col ul li, footer .collezione-col ul li {
  margin-bottom: 5px;
  list-style: none;
}
footer .pastificio-col ul .first, footer .collezione-col ul .first {
  margin-bottom: 25px;
}
footer .collezione-col {
  justify-content: flex-start;
}
footer .collezione-col ul {
  margin-top: 200px;
}
@media screen and (max-width: 960px) {
  footer .collezione-col ul {
    margin-top: 20px;
    margin-bottom: 60px;
  }
}
